.App {
  text-align: center;
}

body {
  background-image: url("./assets/background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
